#input-field {
  width: 50%;
  height: 50px;
  border-radius: 18px;
  background-color: black;
  color: rgb(151, 150, 150);
  text-align: center;
  box-shadow: 3px 5px grey;
  border: 2px solid white;
  font-size: 16pt;
  font-family: 'Questrial', sans-serif;
}

#add-edit-task {
  font-family: 'Questrial', sans-serif;
  color: rgb(151, 150, 150);

}