.navbar {
  background-color: rgb(172, 170, 170);
  color:red;
  font-family: 'Questrial', sans-serif;
  font-size: 14pt;
  // background-image: url("./nav_background.png");
  border-bottom: 2px solid;
  height: 100px;

}

a {
  color: white;
  font-family: 'Questrial', sans-serif;
}