.navbar {
  background-color: darkblue;
  color: white;
  font-family: 'Questrial', sans-serif;
  background-image: url("./nav_background.png");
  border-bottom: 2px solid;

}

a {
  color: white;
  font-family: 'Questrial', sans-serif;
}