@import "~bootstrap/scss/bootstrap";

body {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 24pt;
  background-image: url("./images/background.png");
}

// #tasks-container {
//   margin-top: 1%;
// }

.add-task {
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 87%;
  width: 150x;
  font-size: 12pt;
  border-radius: 15px;
}
