@import "~bootstrap/scss/bootstrap";
// @import "./styles/variables";

body {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 24pt;
  background-image: url("./images/background.png");
}

#tasks-container {
  margin-top: 5%;
}

.add-task {
  margin-top: 20px;
  margin-left: 78%;
}
