
// #tasks {
//   margin-top: 1%;

// }

#completed {
  margin: 1%;
}

.task {
  background-color: black;
  margin-right: 19%;
  margin-left: 19%;
  border-radius: 18px;
  color: rgb(151, 150, 150);
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-right: 1%;
  max-width: 100%;
  font-family: 'Questrial', sans-serif;
}

.task-desc {
  padding-left: 2%;
}

.delete-button {
  margin-left: 15px;
  padding: 1px;
}

.edit-button {
  margin-left: 10px;
  padding: 1px;
}
